
<section class="container my-4">
  <div class="row">
    <div class="col-4 p-3" *ngFor="let product of allProducts">

      <div class="m-4 p-2 border border-primary border-3 text-center">
        <h3>{{product.productname}}</h3>
        <h6><del>{{product.price}} LE  </del></h6>
        <h5>{{ product.price - ((product.sale * product.price)/100)}} LE</h5>

        <h4 class="alert alert-success">Sale {{product.sale}}%</h4>

        <img [src]="product.images[0].image" class="img-fluid">
        <div class="m-5">
          <a class="btn btn-primary" routerLink="../products/{{product._id}}">Show Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
