<section class="container my-5">



  <form [formGroup]="loginForm" (ngSubmit)="handelLogin()">
    <div class="alert alert-danger my-3" *ngIf="invalidData">
      Invalid Data
    </div>
    <div class="mb-5 row">

      <div class="mb-3 col-12">
        <input class="form-control"  placeholder="email" formControlName="email" type="email" (input)="invalidData=false">
        <div class="my-3 alert alert-danger" *ngIf="email?.invalid && (isSubmitted || email?.dirty || email?.touched)">
          <p *ngIf="email?.errors?.['required']"> Email Is Required</p>
          <p *ngIf="email?.errors?.['email']"> Enter Correct Email</p>

        </div>

      </div>
      <div class="mb-3 col-12">
        <input class="form-control"  placeholder="password" formControlName="password" (input)="invalidData=false">
        <div class="my-3 alert alert-danger" *ngIf="password?.invalid && (isSubmitted || password?.dirty || password?.touched)">
          <p *ngIf="password?.errors?.['required']"> Password Is Required</p>

        </div>
      </div>




<button class="form-control btn btn-primary">Login</button>
</div>
  </form>

</section>
